<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.macarthur.ross.gitlab</string>
	<key>connections</key>
	<dict>
		<key>01FFC1DC-2C91-4DE3-897C-31DEC148F541</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98E066C9-5876-41F8-9DB8-85A519F65996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F18920EB-F39D-4933-909C-1DF2DE57AB4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01FFC1DC-2C91-4DE3-897C-31DEC148F541</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4DE5FBA-2ECB-4A8F-A32C-B602AF9D01AB</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy rich text URL to clipboard →</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ross MacArthur</string>
	<key>description</key>
	<string>GitLab workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gitlab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:split1}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>98E066C9-5876-41F8-9DB8-85A519F65996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>01FFC1DC-2C91-4DE3-897C-31DEC148F541</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>gitlab-alfred-workflow</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F18920EB-F39D-4933-909C-1DF2DE57AB4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>IFS=';' read -r url title &lt;&lt;&lt; "$1"
echo "&lt;a href="$url"&gt;$title&lt;/a&gt;" |\
	hexdump -ve '1/1 "%.2x"' |\
	xargs printf "set the clipboard to {text:\"$url\", «class HTML»:«data HTML%s»}" |\
	osascript</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E4DE5FBA-2ECB-4A8F-A32C-B602AF9D01AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Configuration

## Authentication

You will need to add a `GITLAB_TOKEN` environment variable which you can create
using [this link](https://gitlab.com/-/profile/personal_access_tokens?name=gitlab.alfredworkflow&amp;scopes=read_api).
It only needs the `read_api` permission.

## Commands

Any environment variable prefixed with `GITLAB_ISSUES_` or
`GITLAB_MERGE_REQUESTS_` defines a workflow command that will list the issues
or merge requests for the provided project respectively. The name of the command
should follow the prefix. For example to get the command to list issues on the
iTerm2 repository like in the screenshot above you would set the following
environment variable.

| Name                 | Value           |
| -------------------- | --------------- |
| GITLAB_ISSUES_ITERM2 | gnachman/iterm2 |

You can specify as many commands as you want.</string>
	<key>uidata</key>
	<dict>
		<key>01FFC1DC-2C91-4DE3-897C-31DEC148F541</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>98E066C9-5876-41F8-9DB8-85A519F65996</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>E4DE5FBA-2ECB-4A8F-A32C-B602AF9D01AB</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F18920EB-F39D-4933-909C-1DF2DE57AB4C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITLAB_ISSUES_ISSUES</key>
		<string>*project-path here*</string>
		<key>GITLAB_MERGE_REQUESTS_REPO</key>
		<string>*project-path here*</string>
		<key>GITLAB_TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITLAB_TOKEN</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/rossmacarthur/gitlab.alfredworkflow</string>
</dict>
</plist>
